@import 'bootstrap/dist/css/bootstrap';

.navbar {
    background-color: black !important;
}

.nav-link {
    color: white !important;
}

#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#home-container {
    margin-top: 25px;
}

.jumbotron {
    background-image: asset-url('/assets/homepage-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 29.6em;
}

html,
body {
    height: 100%;
}

#page-content {
    flex: 1 0 auto;
    background-color: lightgrey;
}

#sticky-footer {
    flex-shrink: none;
}

.shadow-light {
    box-shadow: 0 3px 5px rgb(0, 0,0 / 0.2);
}

.form-group select {
    box-shadow: 0 3px 5px black;
    width: 30%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-group #reserva_data_entrada_3i, .form-group #reserva_data_saida_3i,
.form-group #reserva_data_entrada_2i, .form-group #reserva_data_saida_2i {
    margin-right: .5em;
}

.select-veiculos {
    width: 63% !important;
}